name: Build Docker Image
on:
  workflow_dispatch:
    inputs:
      dockerfile:
        description: 'Dockerfile to use'
        required: true
        type: choice
        options:
          - app
          - organize-tool
      image_for_testing:
        description: 'Is image for testing purposes?'
        required: true
        type: boolean
      version:
        description: 'Version tag'
        required: true
        default: '1.0.0'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup DockerHub Repo Name
        id: repo_name
        run: |
          echo "DH_REPO=misc_images" >> $GITHUB_OUTPUT
      - name: Run date command
        id: date
        run: |
          buildTime=$(date +%Y-%m-%d" "%X)
          echo "BUILD_TIME=$buildTime" >> $GITHUB_OUTPUT
      - name: Set GH_TAG
        id: tag
        run: |
          if [ "${{ github.event.inputs.image_for_testing }}" = "true" ]; then
            buildTag=$(date +%Y-%m-%d-%H-%M)
            echo "GH_BUILD_TAG=$buildTag" >> $GITHUB_OUTPUT
            echo "GH_LATEST_TAG=testing" >> $GITHUB_OUTPUT
          else
            echo "GH_BUILD_TAG=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "GH_LATEST_TAG=latest" >> $GITHUB_OUTPUT
          fi
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ github.event.inputs.dockerfile }}
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.repo_name.outputs.DH_REPO }}:${{ github.event.inputs.dockerfile }}-${{ steps.tag.outputs.GH_BUILD_TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.repo_name.outputs.DH_REPO }}:${{ github.event.inputs.dockerfile }}-${{ steps.tag.outputs.GH_LATEST_TAG }}
          build-args: |
            BUILD_TIME=${{ steps.date.outputs.BUILD_TIME }}
