name: Build Docker Image
on:
  workflow_dispatch:
    inputs:
      dockerfile:
        description: 'Dockerfile to use'
        required: true
        type: choice
        options:
          - caddy
          - organize-tool
      build_amd64:
        description: 'Build for linux/amd64'
        type: boolean
        default: true
      build_arm64:
        description: 'Build for linux/arm64'
        type: boolean
        default: true
      build_armv7:
        description: 'Build for linux/arm/v7'
        type: boolean
        default: false
      version:
        description: 'Version tag'
        required: true
        default: '1.0.0'
      image_for_testing:
        description: 'Is image for testing purposes?'
        required: true
        type: boolean
      arg_01:
        description: 'ARG for Dockerfile (string)'
        required: false
        default: ''
      arg_02:
        description: 'ARG for Dockerfile (boolean)'
        type: boolean
        default: false
jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      DH_REPO: ${{ steps.repo_name.outputs.DH_REPO }}
      BUILD_TIME: ${{ steps.date.outputs.BUILD_TIME }}
      GH_BUILD_TAG: ${{ steps.tag.outputs.GH_BUILD_TAG }}
      GH_LATEST_TAG: ${{ steps.tag.outputs.GH_LATEST_TAG }}
      PLATFORMS: ${{ steps.set_platforms.outputs.PLATFORMS }}
    steps:
      - name: Setup DockerHub Repo Name
        id: repo_name
        run: |
          echo "DH_REPO=misc_images" >> $GITHUB_OUTPUT
      - name: Run date command
        id: date
        run: |
          buildTime=$(date +%Y-%m-%d" "%X)
          echo "BUILD_TIME=$buildTime" >> $GITHUB_OUTPUT
      - name: Set tags
        id: tag
        run: |
          if [ "${{ github.event.inputs.image_for_testing }}" = "true" ]; then
            buildTag=$(date +%Y-%m-%d-%H-%M)
            echo "GH_BUILD_TAG=$buildTag" >> $GITHUB_OUTPUT
            echo "GH_LATEST_TAG=testing" >> $GITHUB_OUTPUT
          else
            echo "GH_BUILD_TAG=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "GH_LATEST_TAG=latest" >> $GITHUB_OUTPUT
          fi
      - name: Set platforms
        id: set_platforms
        run: |
          platforms=""
          if [ "${{ github.event.inputs.build_amd64 }}" = "true" ]; then
            platforms="${platforms}linux/amd64,"
          fi
          if [ "${{ github.event.inputs.build_arm64 }}" = "true" ]; then
            platforms="${platforms}linux/arm64,"
          fi
          if [ "${{ github.event.inputs.build_armv7 }}" = "true" ]; then
            platforms="${platforms}linux/arm/v7,"
          fi
          platforms="${platforms%,}" # trim trailing comma
          echo "PLATFORMS=$platforms" >> $GITHUB_OUTPUT
      - name: Show workflow variables
        run: |
          echo "Dockerfile: ${{ github.event.inputs.dockerfile }}"
          echo "Build amd64: ${{ github.event.inputs.build_amd64 }}"
          echo "Build arm64: ${{ github.event.inputs.build_arm64 }}"
          echo "Build armv7: ${{ github.event.inputs.build_armv7 }}"
          echo "Version: ${{ github.event.inputs.version }}"
          echo "Image for testing: ${{ github.event.inputs.image_for_testing }}"
          echo "Arg 01 (string):  ${{ github.event.inputs.arg_01 }}"
          echo "Arg 02 (boolean): ${{ github.event.inputs.arg_02 }}"
          echo "------------------------------------------------------------------"
          echo "DH_REPO: ${{ steps.repo_name.outputs.DH_REPO }}"
          echo "BUILD_TIME: ${{ steps.date.outputs.BUILD_TIME }}"
          echo "GH_BUILD_TAG: ${{ steps.tag.outputs.GH_BUILD_TAG }}"
          echo "GH_LATEST_TAG: ${{ steps.tag.outputs.GH_LATEST_TAG }}"
          echo "PLATFORMS: ${{ steps.set_platforms.outputs.PLATFORMS }}"
  build:
    runs-on: ubuntu-latest
    needs: prep
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ github.event.inputs.dockerfile }}
          push: true
          platforms: ${{ needs.prep.outputs.PLATFORMS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ needs.prep.outputs.DH_REPO }}:${{ github.event.inputs.dockerfile }}-${{ needs.prep.outputs.GH_BUILD_TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ needs.prep.outputs.DH_REPO }}:${{ github.event.inputs.dockerfile }}-${{ needs.prep.outputs.GH_LATEST_TAG }}
          build-args: |-
            BUILD_TIME=${{ needs.prep.outputs.BUILD_TIME }}
            DOCKERFILE=${{ github.event.inputs.dockerfile }}
            IMAGE_FOR_TESTING=${{ github.event.inputs.image_for_testing }}
            VERSION=${{ github.event.inputs.version }}
            # ARG_01=${{ github.event.inputs.arg_01 }}
            ${{ github.event.inputs.arg_01 && format('ARG_01={0}', github.event.inputs.arg_01) }}
            ARG_02=${{ github.event.inputs.arg_02 }}
